@media screen and (max-width:300px) {

    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    #main-modal-title {
        text-align: center;
    }

    .ada_toggleContainer .ada_content .description {
        text-align: center !important;
    }



    h5 {
        font-size: 17px;
    }

    #ADA_widget .modal_body ul li {
        height: 40px !important;
        width: 90px !important;

    }



    .contact-info {
        overflow-wrap: break-word;
    }





    .ada_toggleContainer .ada_content .description {
        display: none;
    }

}


@media screen and (max-width:375px) {
    .contact-info {
        overflow-wrap: break-word;
    }

    .container-fluid {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width:460px) {
    #ADA_widget .modal_body ul li {
        height: 50px !important;
        width: 100px !important;

    }
}