@media screen and (max-width:300px) {

    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }



    .ada_toggleContainer .ada_content .description {
        text-align: center !important;
    }



    h5 {
        font-size: 17px;
    }





    .contact-info {
        overflow-wrap: break-word;
    }





    .ada_toggleContainer .ada_content .description {
        display: none;
    }

}


@media screen and (max-width:375px) {
    .contact-info {
        overflow-wrap: break-word;
    }

    .container-fluid {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
}



