body {
  overflow-x: hidden !important;
  top: 0px !important;

}

























a {
  color: #007bff;
  border: transparent solid 1px;
}


/* .prevent-body-overflow {
  height: 100vh;
  overflow-y: hidden;
  padding-left: 15px;
  position: fixed;
} */



/* html {
  font-size: 1.2rem;
} */



/* #ada-triggers li {
  padding: 0 10px;
}

#widget-controls {
  border: black solid 2px;
  border-radius: 10px;

  background-color: white;
}



#widget-list li {
  letter-spacing: 2px !important;
  word-spacing: 2px !important;
  line-height: 1 !important;
  font-size: 14px !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-weight: 600 !important;
  cursor: pointer !important;
  justify-content: start;
  align-items: center;
}

.fade-in {
  opacity: .7;
  /* transition: .15s ease-in-out all; */
/* cursor: pointer; */
/* } */

.fade-in:hover {
  opacity: 1;
}





/* The Modal (background) */
#ADA_widget {
  overflow: hidden;

  /* Hidden by default */
  position: fixed;
  transition: 0.5s all ease-in;
  /* Stay in place */
  z-index: 2000;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  max-height: 100vh;
  /* Full height */

  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  display: none;


  align-items: center;
  justify-content: center;
}

/* Modal Content */
.ada_modal_test .modal_content {
  position: absolute;
  display: none;
  background-color: #fefefe;
  margin: auto;
  border: none;


  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

/* .rs-bar {
  display: none !important;
} */




/* all button selector */
.button-icon {
  border: #000 solid 1px;
  color: #000;
  border-radius: 100%;
  cursor: pointer;
  transition: all .2s ease-in-out;
  z-index: 50;
  opacity: .5;

}

.button-icon:hover {
  border: #000 solid 1px;
  background-color: #5D2D1F;
  color: white;
  opacity: 1;
}

/* speech button selector values */
.speech-icon {
  width: 20px;
  height: 20px;
}

#volume-minus-icon {
  position: relative;
  left: 29px;
  bottom: 2px;
}

#volume-plus-icon {
  position: relative;
  right: 50px;
  bottom: 2px;
}

#rate-minus-icon,
#pitch-minus-icon {
  position: relative;
  left: 40px;
  bottom: 2px;

}

.accessibility_icons,
.ada_option_title,
.round-sliders,
.round-slider {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

#rate-plus-icon,
#pitch-plus-icon {
  position: relative;
  right: 60px;
  bottom: 2px;

}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

.fontSizeMedium #volume-minus-icon {
  left: 19px;
}

.fontSizeMedium #volume-plus-icon {
  right: 40px;
}

.fontSizeMedium #rate-minus-icon,
.fontSizeMedium #pitch-minus-icon {
  left: 30px;
}

.fontSizeMedium #rate-plus-icon,
.fontSizeMedium #pitch-plus-icon {
  right: 50px;
}

.fontSizeMedium .libre-font {
  font-size: 15px !important;
}

/* position for next to number */
/* #speech-minus-icon {
  position: relative;
  left: 50px;
  bottom: 29px;

}

#speech-plus-icon {
  position: relative;
  right: 71px;
  bottom: 28px;

} */

/* get rid of default html icon on selects for spacing etc.. */
#text-selects select,
#ReadingMask_option select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: '';
}

#edit-mask-opacity * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#LetterSpacing_option select {
  text-indent: 6px;
}

#WordSpacing_option select {
  text-indent: 6px;
}

#LineHeight_option select {
  text-indent: 6px;
}


/* letter spacing btn value selectors */
.spacing-container {
  width: 100%;

}

.spacing-icon {
  width: 35px;
  height: 35px;
}




.spacing-value {
  font-size: 25px;
  border: black solid 2px;
  margin: 0 10px;
  padding: 5px 15px;
  border-radius: 10px;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */

}

.opacity-icons {
  width: 23px;
  height: 23px;
}

.opacity-value {
  font-size: 20px;
  border: black solid 2px;

  padding: 4px 9px;
  border-radius: 10px;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */

}

#ReadingMask_option select {
  text-indent: 5px;
}

.disable-settings *,
.disable-settings span {
  /* cursor: pointer; */
  pointer-events: none !important;
  opacity: .75 !important;

  /* display: none; */
}

/* .spacing-value option:checked {
  background-color: yellow;
} */

.ada_modal_test .modal_body {

  padding: 1rem 0rem;
  background: #EBE5E3;
  overflow: auto;
  height: 93%;
}

@media screen and (min-width:500px) {
  .ada_modal_test .modal_content {
    width: 97%;
    height: 95%;

  }
}


@media screen and (min-width:768px) {
  .ada_modal_test .modal_content {
    width: 90%;
    height: 90%;

  }

  .ada_modal_test .modal_body {
    padding: 1rem 0rem;
    background: #EBE5E3;
    overflow: auto;
    height: 95%;
  }
}

@media screen and (min-width:1200px) {
  .ada_modal_test .modal_content {
    width: 87%;
    height: 85%;

  }


}

@media screen and (min-width:1500px) {
  .ada_modal_test .modal_content {
    width: 82%;
    height: 85%;
  }
}

@media screen and (min-width:1800px) {
  .ada_modal_test .modal_content {
    width: 65%;
    height: 85%;
  }
}



/* reset btn */
#ADA_reset {
  border: #5D2D1F solid 1px !important;
  padding: 5px 10px !important;
  font-size: 15px !important;
  transition: all .3s ease-in-out !important;
  opacity: 1;

  text-shadow: none;
  font-size: 20px;


  color: white;

}

#ADA_reset:hover {
  border: #FFF solid 1px !important;
  background-color: #5D2D1F !important;
  color: white;
}

#ADA_reset:focus {
  outline: none !important;
  box-shadow: none !important;
}

.modal_header button {

  opacity: 1;

  text-shadow: none;
  font-size: 18px;


  color: white;
}

.modal_header button:hover {
  color: white;
}

.ADA_close {
  position: absolute;
  top: -5px;
  right: 0px;
}

.ADA_close i {
  transition: all .2s ease-in-out;
}

.ADA_close i:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}






/* @media screen and (max-width:992px) {
  .ada_modal_test .modal_content {
    max-width: 500px;
    max-height: 500px;
  }
}

@media screen and (max-width:768px) {
  .ada_modal_test .modal_content {
    max-width: 450px;
    max-height: 500px;
  }
}

@media screen and (max-width:576px) {
  .ada_modal_test .modal_content {
    max-width: 320px;
    max-height: 450px;
  }
} */

.ada_modal_test .modal_content .modal_header {
  padding: 1rem 1rem 0rem 1rem;
  border-bottom: 1px solid #dee2e6;
  background: #5D2D1F;
  color: white;
  border: none;

}

@media screen and (min-width:500px) {
  .ada_modal_test .modal_content .modal_header {
    padding: 1rem 1rem 1rem 1rem;
  }
}

.ada_modal_test .modal_content .key-short-header {
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  background: #343a40;
  color: white;
  border: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ada_modal_test .modal_content .modal_header .title {
  display: inline-block;
  margin-bottom: 0;
}









/* The Close Button */
.ada_modal_test .close_modal {
  font-size: .5rem;
  font-weight: 700;
  line-height: 1;

  display: inline-block;
}



#ADA_widget .modal_content .ada_option_title {
  font-weight: bold;
  font-size: 15px;
  font-family: Muli;
}



html.translated-ltr #ADA_widget .modal_content .form-group-heading {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;

}

html.translated-ltr #ADA_widget .modal_content .form-group-heading .ada_option_title {
  width: 300px;
  border: 1px solid transparent;
  text-align: left;
}

/*
  @media screen and (min-width:992px){
      html.translated-ltr #ADA_widget .modal_content #LetterSpacing_option .ada_option_title,
      html.translated-ltr #ADA_widget .modal_content #WordSpacing_option .ada_option_title,
      html.translated-ltr #ADA_widget .modal_content #LineHeight_option .ada_option_title{
          width: 250px;
          margin-left: 10px;
          height: 3rem;
      }
  }
  */
/************************** SCROLLER **********************/
/* width */
.ada_modal_test .modal_body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #ddd;
}

/* Track */
.ada_modal_test .modal_body::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

/* Handle */
.ada_modal_test .modal_body::-webkit-scrollbar-thumb {
  background: #acacac;
  border-radius: 2px;
  border: 0 solid #000;
}

.ada_modal_test .modal_body::-webkit-scrollbar-corner {
  background: 0 0;
}

/* Handle on hover */
.ada_modal_test .modal_body::-webkit-scrollbar-thumb:hover {
  background: #4D4D4D;
}

.ada_modal_test .modal_body::-webkit-scrollbar-track-piece {
  background: #ffff;
  border-radius: 0px;
}

.ada_modal_test .modal_body .row {
  background: white;
  border-radius: 0.5rem;
  margin: 10px 10px;
  border: 1px solid #c9c2c2;
}

.ada_modal_test .modal_body .row:first-of-type {
  margin-top: 0;
}

.ada_modal_test .modal_body .row:last-of-type {
  padding-bottom: 10px;
}

/* .ada_toggle {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.ada_toggleContainer {
  display: flex;
  padding: 20px 20px 0px 20px;
}


@media screen and (min-width:992px) {
  .ada_toggleContainer .ada_content {
    padding-left: 3rem;
    width: 400px;
  }
}

#SeizureSafe .ada_content,
#ReadingMask .ada_content,
#ReadingGuide .ada_content {
  width: 350px !important;
}


#HighlightHover,
#HighlightLinks,
#TextMagnifier,
#ImageDescription {
  max-width: 400px;
}

@media screen and (min-width:992px) {
  #ReadingMask_option {
    border: 1px solid gainsboro;
    border-bottom: none;
    border-top: none;
  }

  #HighlightHover_option .ada_toggleContainer {

    width: 580px;
  }

  #TextMagnifier_option .ada_toggleContainer {

    width: 580px;
  }
}

/* #select_page, .goog-te-combo {
  max-width: 400px;
} */



.ada_toggleContainer .ada_content .type {
  display: block;
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
}

.ada_toggleContainer .ada_content .description {
  display: block;
  font-size: 14px;
  color: #3e465d;
  margin-top: 7px;
}


/************** ICONS ***************************/
.main_icon_holder {
  width: 50px;
  height: 50px;
  position: absolute;
  overflow: hidden;
  top: -25px;

}

/* .inner_icon_holder {
  overflow: hidden;
  position: absolute;
} */



#ada_modal_header_icon .inner_icon_holder {
  overflow: hidden;
  width: 450px;
  height: 100px;
  position: absolute;
}

#ada_modal_header_icon .inner_icon_holder img {
  position: absolute;
  top: -50px;
  clip-path: inset(66% 41.2% 0% 50%);
  left: -13.7rem;
  opacity: 1;
  filter: invert(1);
  display: none;
}

@media screen and (min-width:320px) {

  #ada_modal_header_icon .inner_icon_holder img {

    display: block;
  }
}

.close-modal {
  font-size: 1.1em;
  transition: all .3s ease-in-out;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.close-modal:hover {
  color: rgba(255, 255, 255, 0.8);


}

#site_map_icon {
  width: 50px;
  height: 50px;
  left: 5px;
  top: 12px;
}

#site_map_icon .inner_icon_holder {
  overflow: hidden;
  width: 520px;
  height: 105px;
  position: absolute;
}

#site_map_icon .inner_icon_holder img {
  position: absolute;
  top: 10px;
  clip-path: inset(0% 93% 50% -1%);
}

#shortcuts_icon {
  left: -40px;
  top: -10px;
}

#shortcuts_icon .inner_icon_holder {
  position: absolute;
  left: -16rem;
  top: -62px;
  width: 520px;
  height: 125px;
  overflow: hidden;
}

#shortcuts_icon .inner_icon_holder img {
  position: absolute;
  top: 28px;
  clip-path: inset(31% 91% 38% 0%);
}

#translate_icon {
  left: -40px;
  top: -3px;
}

#translate_icon .inner_icon_holder {
  position: absolute;
  left: 0;
  top: -42px;
  width: 500px;
  height: 110px;
  overflow: hidden;
}

#translate_icon .inner_icon_holder img {
  position: absolute;
  top: 50px;
  clip-path: inset(0% 75% 0% 17%);
  left: -76px;
}

#highlight_icon {
  width: 60px;
  height: 50px;
  left: -4px;
  top: 8px;
}

#highlight_icon .inner_icon_holder {
  overflow: hidden;
  width: 530px;
  height: 123px;
  position: absolute;
}

#highlight_icon .inner_icon_holder img {
  position: absolute;
  top: -71px;
  clip-path: inset(62% 50% -2% -1%);
  left: 1rem;
}

#highlighthover_icon {
  width: 50px;
  height: 50px;
  left: -7px;
  top: 12px;
}

#highlighthover_icon .inner_icon_holder {
  overflow: hidden;
  width: 500px;
  height: 115px;
  position: absolute;
}

#highlighthover_icon .inner_icon_holder img {
  position: absolute;
  top: 8px;
  clip-path: inset(-7% 50% 63% 41.5%);
  left: -12.8rem;
}

#textmagnify_icon {
  width: 50px;
  height: 50px;
  left: 7px;
  top: 12px;
}

#textmagnify_icon .inner_icon_holder {
  overflow: hidden;
  width: 550px;
  height: 145px;
  position: absolute;
}

#textmagnify_icon .inner_icon_holder img {
  position: absolute;
  top: 0px;
  clip-path: inset(0% 67% 70% 24%);
  left: -8.3rem;
}

#imagealt_icon {
  width: 62px;
  height: 50px;
  left: -3px;
  top: 12px;
}

#imagealt_icon .inner_icon_holder {
  overflow: hidden;
  width: 695px;
  height: 185px;
  position: absolute;
}

#imagealt_icon .inner_icon_holder img {
  position: absolute;
  top: -2px;
  clip-path: inset(0% 58.3% 50% -1%);
  left: -14.4rem;
}

#fontsize_icon {
  width: 50px;
  height: 50px;
  left: 25px;
  top: 6px;
}

#fontsize_icon .inner_icon_holder {
  overflow: hidden;
  width: 500px;
  height: 110px;
  position: absolute;
}

#fontsize_icon .inner_icon_holder img {
  position: absolute;
  top: -30px;
  clip-path: inset(37% 84% 27% -1%);
  left: -2.6rem;
}

#fonttype_icon {
  width: 50px;
  height: 50px;
  left: 20.5px;
  top: 6px;

}

#fonttype_icon .inner_icon_holder {
  overflow: hidden;
  width: 500px;
  height: 110px;
  position: absolute;

}

#fonttype_icon .inner_icon_holder img {
  position: absolute;
  top: -30px;
  clip-path: inset(31% 66% 33% 17%);
  left: -4.9rem;

}

#cursor_icon {
  width: 50px;
  height: 50px;
  left: 16px;
  top: 18px;

}

#cursor_icon .inner_icon_holder {
  overflow: hidden;
  width: 500px;
  height: 100px;
  position: absolute;
}

#cursor_icon .inner_icon_holder img {
  position: absolute;
  top: -40px;
  clip-path: inset(34% 50% 33% 32%);
  left: -12.9rem;
}

#letterspace_icon {
  width: 50px;
  height: 50px;
  left: 35px;
  top: 4px;
}

#wordspace_icon {
  width: 77px;
  height: 55px;
  left: 5px;
  top: 7px;
}

#lineheight_icon {
  width: 50px;
  height: 50px;
  left: 55px;
  top: 11px;
}

@media screen and (min-width:1700px) {
  #letterspace_icon {
    width: 50px;
    height: 50px;
    left: 50px;
    top: 7px;
  }

  #wordspace_icon {
    width: 77px;
    height: 55px;
    left: 23px;
    top: 10px;
  }

  #lineheight_icon {
    width: 50px;
    height: 50px;
    left: 75px;
    top: 14px;
  }
}

@media screen and (min-width:2000px) {
  #letterspace_icon {
    width: 50px;
    height: 50px;
    left: 75px;
    top: 7px;
  }

  #wordspace_icon {
    width: 77px;
    height: 55px;
    left: 46px;
    top: 10px;
  }

  #lineheight_icon {
    width: 50px;
    height: 50px;
    left: 100px;
    top: 14px;
  }
}

#letterspace_icon .inner_icon_holder {
  overflow: hidden;
  width: 500px;
  height: 100px;
  position: absolute;
}

#letterspace_icon .inner_icon_holder img {
  position: absolute;
  top: 8px;
  clip-path: inset(0% 42% 63% 32%);
  left: -15.6rem;
}



#wordspace_icon .inner_icon_holder {
  overflow: hidden;
  width: 750px;
  height: 210px;
  position: absolute;
}

#wordspace_icon .inner_icon_holder img {
  position: absolute;
  top: -10px;
  clip-path: inset(0% 32% 78% 58.2%);
  left: -26.9rem;
}



#lineheight_icon .inner_icon_holder {
  overflow: hidden;
  width: 500px;
  height: 125px;
  position: absolute;
}

#lineheight_icon .inner_icon_holder img {
  position: absolute;
  top: 0px;
  clip-path: inset(0% 26% 61% 67%);
  left: -20.8rem;
}

html.translated-ltr #letterspace_icon,
html.translated-ltr #lineheight_icon,
html.translated-ltr #wordspace_icon {
  left: 25px !important;
}

#bgcircle_icon {
  width: 50px;
  height: 50px;
  left: 27px;
  top: 0px;
}

#bgcircle_icon .inner_icon_holder {
  overflow: hidden;
  width: 350px;
  height: 75px;
  position: absolute;
}

#bgcircle_icon .inner_icon_holder img {
  position: absolute;
  top: -35px;
  clip-path: inset(67% 58.3% 0% 33%);
  left: -7.3rem;
}

#paint_icon {
  width: 50px;
  height: 50px;
  left: 27px;
  top: 2px;
}

#paint_icon .inner_icon_holder {
  overflow: hidden;
  width: 350px;
  height: 80px;
  position: absolute;
}

#paint_icon .inner_icon_holder img {
  position: absolute;
  top: -40px;
  clip-path: inset(67% 50% 0% 33%);
  left: -9.2rem;
}

#colorblind_icon {
  width: 50px;
  height: 50px;
  left: 17px;
  top: 6px;
}

.modal-open {
  overflow: initial;
}

#colorblind_icon .inner_icon_holder {
  overflow: hidden;
  width: 360px;
  height: 80px;
  position: absolute;
}

#colorblind_icon .inner_icon_holder img {
  position: absolute;
  top: 8px;
  clip-path: inset(0% 17% 62% 73%);
  left: -16.2rem;
}

#seizure_icon {
  width: 50px;
  height: 50px;
  left: 13px;
  top: 12px;
}

#seizure_icon .inner_icon_holder {
  overflow: hidden;
  width: 500px;
  height: 125px;
  position: absolute;
}

#seizure_icon .inner_icon_holder img {
  position: absolute;
  top: 0px;
  clip-path: inset(0% 0% 64% 92%);
  left: -28.4rem;
}

#mask_icon {
  width: 50px;
  height: 50px;
  left: 5px;
  top: 12px;
}

#mask_icon .inner_icon_holder {
  overflow: hidden;
  width: 645px;
  height: 145px;
  position: absolute;
}

#mask_icon .inner_icon_holder img {
  position: absolute;
  top: -45px;
  clip-path: inset(27% 66% 33% 25%);
  left: -10.5rem;
}

#cursor2_icon {
  width: 50px;
  height: 60px;
  left: 32px;
  top: 12px;
}

#cursor2_icon .inner_icon_holder {
  overflow: hidden;
  width: 500px;
  height: 100px;
  position: absolute;
}

#cursor2_icon .inner_icon_holder img {
  position: absolute;
  top: -4px;
  clip-path: inset(34% 50% 33% 42%);
  left: -13.1rem;
}

#guide_icon {
  width: 50px;
  height: 50px;
  left: -2px;
  top: 12px;
}

#guide_icon .inner_icon_holder {
  overflow: hidden;
  width: 645px;
  height: 145px;
  position: absolute;
}

#guide_icon .inner_icon_holder img {
  position: absolute;
  top: -45px;
  clip-path: inset(27% 58% 33% 25%);
  left: -13.5rem;
}

#cursor3_icon {
  width: 50px;
  height: 60px;
  left: 32px;
  top: 5px;
}

#cursor3_icon .inner_icon_holder {
  overflow: hidden;
  width: 500px;
  height: 100px;
  position: absolute;
}

#cursor3_icon .inner_icon_holder img {
  position: absolute;
  top: -4px;
  clip-path: inset(34% 50% 32% 42%);
  left: -13.1rem;
}

#info_icon {
  width: 50px;
  height: 50px;
  left: 180px;
  top: -5px;
}

#info_icon .inner_icon_holder {
  overflow: hidden;
  width: 230px;
  height: 60px;
  position: absolute;
}

#info_icon .inner_icon_holder img {
  position: absolute;
  top: -19px;
  clip-path: inset(70% 75% 0% 17%);
  left: -2.5rem;
}

#question_icon {
  width: 26px;
  height: 45px;
  left: -1.1rem;
  top: -9px;
}

#question_icon .inner_icon_holder {
  overflow: hidden;
  width: 230px;
  height: 60px;
  top: -16px;
  position: absolute;
}

#question_icon .inner_icon_holder img {
  position: absolute;
  top: -19px;
  clip-path: inset(67% 67% 0% 17%);
  left: -3.5rem;
}

#tts_icon {
  width: 50px;
  height: 50px;
  left: 10px;
  top: 12px;
}

#tts_icon .inner_icon_holder {
  overflow: hidden;
  width: 500px;
  height: 120px;
  position: absolute;
}

#tts_icon .inner_icon_holder img {
  position: absolute;
  top: 6px;
  clip-path: inset(0% 8.2% 45% 83.4%);
  left: -26rem;
}

#email_icon {
  width: 50px;
  height: 50px;
  left: 10px;
  top: -15px;
}

#email_icon .inner_icon_holder {
  overflow: hidden;
  width: 400px;
  height: 100px;
  position: absolute;
}

#email_icon .inner_icon_holder img {
  position: absolute;
  top: -57px;
  clip-path: inset(62% 0% 0% 58.4%);
  left: -14.2rem;
}

.accessibility_icons {
  width: 100%;
  height: 100%;
  opacity: 50%;
}





@media screen and (max-width:992px) {
  .main_icon_holder {
    left: 0 !important;
    display: none;
  }

  #ada_modal_header_icon {
    display: block;
  }

  #colorblind_icon {
    top: 8px !important;
    left: 15px !important;
  }
}

@media screen and (max-width:992px) {

  /*	#SiteMap_option .siteMap_form > .form-group{
          justify-content: center;
      }*/
  #site_map_icon {
    top: 3px !important;
  }

  #translate_icon {
    top: -47px !important;
  }

  #lineheight_icon {
    left: 30px !important;
  }

  #letterspace_icon {
    left: 10px !important;
  }

  #fontsize_icon,
  #fonttype_icon {
    left: 30px !important;
  }

  #highlight_icon {
    left: -10px !important;
  }

  #cursor_icon {
    left: 11px !important;
  }

  #bgcircle_icon {
    left: 25px !important;
  }

  #paint_icon {
    left: 25px !important;
  }
}


/************************************************************ Sitemap ************************************************************/
@media screen and (min-width:992px) {
  #SiteMap_option select {
    width: 350px;
  }
}


#select_page {
  cursor: pointer;
}

#keyboard_shortcutsBtn {
  text-decoration: none;
}

.goog-te-combo {
  cursor: pointer;
}

/************************************************************ Keyboard Shortcuts ************************************************************/
@media screen and (max-width:992px) {
  #keyboard_shortcutsBtn {
    display: none;
  }
}

#keyboard_shortcutsBtn {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0;
  max-width: 300px;
  border: 1px solid #ced4da;
  border-radius: 1.25rem;
  color: initial;
}

#keyboard_shortcuts {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

#keyboard_shortcuts .modal-header {
  padding: 0.5rem 0.8rem 0.5rem 0.5rem !important;
}

@media screen and (max-width:576px) {
  #keyboard_shortcuts {
    max-width: 350px;
  }
}

/************************************************************ Toggle Styling ************************************************************/


.ada_toggleContainer .switch {
  position: relative;
  cursor: pointer;
}

.ada_toggleContainer .switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.ada_toggleContainer .switch-label {
  position: relative;
  display: inline-block;
  width: 62px;
  height: 26px;
  vertical-align: bottom;
  font-size: 12px;
  font-family: 'Roboto';
  letter-spacing: 0.5px;
  font-weight: bold;
  text-transform: uppercase;
  background: #d9d9d9;
  border-radius: 0.5rem;
  padding: 3px;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}

.ada_toggleContainer .switch-label:before,
.ada_toggleContainer .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.ada_toggleContainer .switch-label:before {
  content: attr(data-off);
  right: 8px;
  color: #212529;
}

.ada_toggleContainer .switch-label:after {
  content: attr(data-on);
  left: 5px;
  color: white;
  opacity: 0;
}

.ada_toggleContainer .switch-input:checked~.switch-label {
  background: #000;
}

.ada_toggleContainer .switch-input:checked~.switch-label:before {
  opacity: 0;
}

.ada_toggleContainer .switch-input:checked~.switch-label:after {
  opacity: 1;
}

.ada_toggleContainer .switch-handle {
  position: absolute;
  top: 3px;
  left: 4px;
  width: 19px;
  height: 19px;
  background: #000000;
  border-radius: 50%;
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.ada_toggleContainer .switch-input:checked~.switch-handle {
  left: 39px;
  background: white;
}

.ada_modal_test .modal_body form {
  margin-top: 20px;
}

.ada_modal_test .modal_body select.form-control {
  border-radius: 1.25rem;
}

#ADA_widget #accessibility .dropdown-menu {
  width: 500px;
  max-width: 500px;
  height: 400px;
  overflow-y: auto;
  left: -10rem !important;
}



/****************** TTS ******************/


#TTS_Utterance {
  padding-left: 15px;
  padding-right: 15px;

  text-align: center;
  margin: 0 auto;
  display: block;
  width: 100%;
}

@media screen and (min-width:768px) {
  #TTS_Utterance {
    padding-top: 20px;
  }
}


#TTS_Utterance .form-inline {
  justify-content: center;
  margin-top: 0;
}

#keydownTip {
  cursor: pointer;
  padding: 0 50px 0 3px;
}

#tooltip_template {
  opacity: 1;
  display: block;
  background-color: #1e1e1e;
  color: white;
  position: absolute;
  top: -5.5rem;
  right: 10.9rem;
  overflow: visible;
}

html.translated-ltr #tooltip_template {
  right: 1.1rem !important;
}

/* Popup arrow */
.tooltip_arrow {
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.4rem;
  bottom: -6px;
  left: 5.9px;
}

.tooltip_arrow::before {
  top: 0;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: #000 !important;
  position: absolute;
  content: "";
  border-color: transparent;
  border-style: solid;
}

#tooltip_template span.shortcut_tooltip_key {
  background: #404040;
  padding: 5px;
  border-radius: 0.25rem;
  font-weight: bold;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

#tooltip_template span.shortcut_tooltip_plus {
  font-weight: bold;
  font-size: 17px;
}

.rs-control {
  display: none;
  margin-right: 20px;
  margin-bottom: 50px;
}

@media screen and (min-width:768px) {
  .rs-control {
    display: inline-block;

  }
}


.rs-control .headings {
  display: block;
  margin-top: 10px;
}

.rs-handle.rs-move {
  cursor: pointer;
  pointer-events: none;
}

.rs-handle.rs-focus {
  cursor: pointer;
}

#custom-handle {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}

.tippyIcon {
  display: flex;
  justify-content: end;
}

/* Volume */
#volume .rs-handle {
  background-color: transparent;
  border: 7px solid transparent;
  border-right-color: black;
  margin: -7px 0 0 9px !important;
}

#volume .rs-handle:before {
  display: none;
  content: " ";
  position: absolute;
  height: 12px;
  width: 12px;
  background: black;
  right: -6px;
  bottom: -6px;
  border-radius: 100%;
}

#volume .rs-handle:after {
  display: block;
  content: " ";
  width: 20px;
  position: absolute;
  top: -1px;
  right: 22px;
  border-top: 3px dotted black;
}

#volume .rs-range-color {
  background-color: #dc3545;
}

#volume .rs-path-color {
  background-color: #a9a9a9;
}

/*Rate Handle*/
#rate .rs-handle {
  background-color: transparent;
  border: 7px solid transparent;
  border-right-color: black;
  margin: -7px 0 0 9px !important;
}

#rate .rs-handle:before {
  display: none;
  content: " ";
  position: absolute;
  height: 12px;
  width: 12px;
  background: black;
  right: -6px;
  bottom: -6px;
  border-radius: 100%;
}

#rate .rs-handle:after {
  display: block;
  content: " ";
  width: 20px;
  position: absolute;
  top: -1px;
  right: 22px;
  border-top: 3px dotted black;
}

#rate .rs-range-color {
  background-color: #8832cd;
}

#rate .rs-path-color {
  background-color: #a9a9a9;
}

/* Pitch */
#pitch .rs-handle {
  background-color: transparent;
  border: 7px solid transparent;
  border-right-color: black;
  margin: -7px 0 0 9px !important;
}

#pitch .rs-handle:before {
  display: none;
  content: " ";
  position: absolute;
  height: 12px;
  width: 12px;
  background: black;
  right: -6px;
  bottom: -6px;
  border-radius: 100%;
}

#pitch .rs-handle:after {
  display: block;
  content: " ";
  width: 20px;
  position: absolute;
  top: -1px;
  right: 22px;
  border-top: 3px dotted black;
}

#pitch .rs-range-color {
  background-color: #4a6ee0;
}

#pitch .rs-path-color {
  background-color: #a9a9a9;
}

.rs-tooltip {
  position: absolute;
  bottom: -6px !important;
}

.rs-tooltip.edit {
  padding: 2px 8px 0;
}

.rs-tooltip.hover {
  background-color: white;
  padding-bottom: 0;
}

.TTS_click_enabled .audio_state {
  display: flex;
}

.audio_state {
  display: none;
  justify-content: end;
  position: relative;
}

.audio_state button {
  margin: 10px 1px;
  padding: 5px 10px;
  background: #003f88;
  border: #072ac8 solid 1px;
  transition: 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.8);


}

.audio_state button:hover {

  background: #072ac8;
  color: rgba(255, 255, 255, 1);
  border: #003f88 solid 1px;
  opacity: 0.8;
}

.audio_state button i {
  font-size: 20px;
}


.audio_state .audio_icon_holder {
  width: 40px;
  height: 40px;
  top: 0;
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;
  border: 2px solid transparent;
  transition: border 0.5s;
}

.audio_state .audio_icon_holder:hover {
  border: 2px solid black;
}

.audio_state .audio_icon_holder .audio_inner_icon_holder {
  overflow: hidden;
  width: 400px;
  height: 60px;
  position: absolute;
}

.audio_state .audio_icon_holder .audio_inner_icon_holder img {
  width: 100%;
  height: 100%;
  opacity: 1;
}

#play_icon {
  left: -3px;
}

#play_icon .audio_inner_icon_holder img {
  position: absolute;
  top: -11px;
  clip-path: inset(27% 32% 37% 25%);
  left: -14.5rem;
}

#pause_icon {
  left: -2px;
}

#pause_icon .audio_inner_icon_holder img {
  position: absolute;
  top: -11px;
  clip-path: inset(32% 23% 37% 68%);
  left: -16.5rem;
}

#resume_icon {
  left: -1px;
}

#resume_icon .audio_inner_icon_holder img {
  position: absolute;
  top: -11px;
  clip-path: inset(35% 42% 37% 50%);
  left: -12.3rem;
}

#stop_icon .audio_inner_icon_holder img {
  position: absolute;
  top: -10px;
  clip-path: inset(34% 0% 37% 94%);
  left: -23rem;
}







#ADA_widget .modal_body .form-check {
  margin-top: 15px;
}

#ADA_widget .modal_body ul li a div.title {
  font-size: 14px;
}



/* #ADA_widget .modal_body #BackgroundColor_option ul li {

  width: 138px !important;
  height: 80px !important;

} */


/************************************************************ Font Size Form ************************************************************/
@media screen and (min-width:992px) {
  #ADA_widget .modal_body .fontsize_form h6.ada_option_title {
    padding-left: 4rem;
  }
}

#ADA_widget .modal_body .fontsize_form ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

#ADA_widget .modal_body ul li {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 120px !important;
  height: 60px !important;
  background-color: #EBE5E3 !important;
  border-radius: 0.25rem;
  border: 2px solid transparent;
  margin-bottom: 5px;
}



#ADA_widget .modal_body .fontsize_form ul li:hover {
  border-color: #5D2D1F;
}

#ADA_widget .modal_body .fontsize_form ul li a {
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;

}

#ADA_widget .modal_body .fontsize_form ul li a:hover {
  text-decoration: none;
}

#ADA_widget .modal_body .fontsize_form ul li.active a:before {
  content: "\f192";
  font-family: "FontAwesome";
  position: absolute;
  color: white !important;
  right: 1px !important;
  top: -4px !important;
}

#ADA_widget .modal_body .fontsize_form ul li a div.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#ADA_widget .modal_body .fontsize_form ul li a div.title:before {
  display: none;
}



/************************************************************ Font Type Form ************************************************************/


@media screen and (min-width:992px) {
  #ADA_widget .modal_body .font_type_form h6.ada_option_title {
    padding-left: 4.5rem;
  }
}

#ADA_widget .modal_body .font_type_form ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

#ADA_widget .modal_body .font_type_form ul li {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 70px;
  background-color: #EBE5E3 !important;
  border-radius: 0.25rem;
  border: 2px solid transparent;
  margin-bottom: 5px;
}

#ADA_widget .modal_body .font_type_form ul li:hover {
  border-color: #5D2D1F;
}

#ADA_widget .modal_body .font_type_form ul li a {
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
}

#ADA_widget .modal_body .font_type_form ul li a:hover {
  text-decoration: none;
}

#ADA_widget .modal_body .font_type_form ul li.active a:before {
  content: "\f192";
  font-family: "FontAwesome";
  position: absolute;
  color: white !important;
  right: 1px !important;
  top: -4px !important;
}

#ADA_widget .modal_body .font_type_form ul li a div.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#ADA_widget .modal_body .font_type_form ul li.active a div.title:before {
  display: none;
}



/************************************************************ Cursor Swap & Reading Guide Form ************************************************************/
#ADA_widget .modal_body .cursorSwap_form h6.ada_option_title {
  padding-left: 2.5rem;
}

#ADA_widget .modal_body .cursorSwap_form ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

#ADA_widget .modal_body .cursorSwap_form ul li {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 70px;
  background-color: #EBE5E3 !important;
  border-radius: 0.25rem;
  border: 2px solid transparent;
  margin-bottom: 5px;
}

#ADA_widget .modal_body .cursorSwap_form ul li:hover {
  border-color: #5D2D1F;
}

#ADA_widget .modal_body .cursorSwap_form ul li a {
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
}

#ADA_widget .modal_body .cursorSwap_form ul li a:hover {
  text-decoration: none;
}

#ADA_widget .modal_body .cursorSwap_form ul li.active a:before {
  content: "\f192";
  font-family: "FontAwesome";
  position: absolute;
  color: white !important;
  right: 1px !important;
  top: -4px !important;
}

#ADA_widget .modal_body .cursorSwap_form ul li a div.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#ADA_widget .modal_body .cursorSwap_form ul li.active a div.title:before {
  display: none;
}






/************************************************************ Background Color Form -- default options(already customized) ************************************************************/
#ADA_widget .modal_body .bg_form ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

#ADA_widget .modal_body .bg_form ul li {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;

  background-color: #EBE5E3 !important;
  border-radius: 0.25rem;
  border: 2px solid transparent;
  margin-bottom: 5px;
}

#ADA_widget .modal_body .bg_form ul li:hover {
  border-color: #5D2D1F;
}

#ADA_widget .modal_body .bg_form ul li a {
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
}

#ADA_widget .modal_body .bg_form ul li a:hover {
  text-decoration: none;
}

#ADA_widget .modal_body .bg_form ul li.active a:before {
  content: "\f192";
  font-family: "FontAwesome";
  position: absolute;
  color: white !important;
  right: 1px !important;
  top: -4px !important;
}

#ADA_widget .modal_body .bg_form ul li a div.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

#ADA_widget .modal_body .bg_form ul li a div.title:before {
  display: none;
}


/************************************************************ Color Picker ************************************************************/


#ADA_widget .modal_body #edit-reading-mask .form-group {
  margin-bottom: 1rem;
  display: inline-table;
  background-color: #EBE5E3 !important;
  border-radius: 0.25rem;
  padding: 10px 20px;
  width: 152px;
  height: 130px;

  text-align: center;

}




@media screen and (min-width:1200px) {
  #ADA_widget .modal_body .color_picker_form .form-group {
    width: 190px;
    height: 140px;
  }
}

@media screen and (min-width:1500px) {
  #ADA_widget .modal_body .color_picker_form .form-group {

    width: 200px;
    height: 140px;


  }
}

.hexVal {
  display: block;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 5px;
  text-transform: uppercase;
}

#ADA_widget .modal_body .color_picker_form label {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
}

#ADA_widget .modal_body .color_picker_form input {
  padding: 0;
  background: transparent;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  outline: 2px solid #5D2D1F;

  border-width: 3px;
  border-color: #fff;
  cursor: pointer;
  transition: all 0.5s;

}

#ADA_widget .modal_body .color_picker_form input:hover {
  box-shadow: 0px 3px 5px #979797;
  transform: scale(1.1);
  cursor: pointer;
}

#ADA_widget .modal_body .color_picker_form input::-webkit-color-swatch-wrapper {
  padding: 0;
}

#ADA_widget .modal_body .color_picker_form input::-moz-color-swatch-wrapper {
  padding: 0;
}

#ADA_widget .modal_body .color_picker_form input::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

#ADA_widget .modal_body .color_picker_form input::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}

#color_pickerBtns {
  margin: 0;
  background: initial;
  border: none;
  border-radius: unset;
}


.close {
  color: white;
}

.close:hover {
  color: rgba(255, 255, 255, 0.8)
}


.ada-btn {
  background-color: #EBE5E3 !important;
  color: #000 !important;
  padding: 8px 40px;

}



@media screen and (min-width:514px) {

  .ada-btn {

    margin: 0 0 !important;
  }
}


.ada-btn:hover {
  background-color: #5D2D1F !important;
  color: #ffffff !important;
}

@media screen and (min-width:514px) {
  #remove_cookie {
    -webkit-border-radius: 5px 0px 0px 5px !important;
    border-radius: 5px 0px 0px 5px !important;
  }

  #OpenContrastModal {
    -webkit-border-radius: 0px 5px 5px 0px !important;
    border-radius: 0px 5px 5px 0px !important;
  }
}






.toast_close {
  opacity: 0 !important;
  display: none !important;
}


.toast i {
  color: #fff;
}

.toast i:hover {
  opacity: .8;
}

#ContrastRatingModal {
  opacity: 1;
  display: block;
  position: absolute;
  top: -3%;
  right: 15px;
  background: white !important;
  max-width: 330px !important;
  width: 100%;
  overflow: visible;
}

@media screen and (max-width:576px) {
  #ContrastRatingModal {
    top: 52% !important;
    right: 0px !important;
  }
}

/* The Open Button */



#ContrastRatingModal .toast-header {
  background: #5D2D1F;
  padding: 0 0.75rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}



#ada_tippy {
  max-width: 350px;
}

#ContrastRatingModal #defaultContainer div {
  position: relative;
  margin-bottom: 10px;
}

#ContrastRatingModal #defaultContainer div:last-child {
  margin-bottom: 0;
}

#ContrastRatingModal .toast-body .contrast_values div {
  margin-bottom: 12px;
  position: relative;
}

#ContrastRatingModal .toast-body .pass:after {
  content: "Pass";
  position: absolute;
  right: 12px;
  top: -3px;
  color: #fbfbfb;
  font-size: 15px;
  background: #080;
  padding: 2px 5px;
  border-radius: 0.25rem;
}

#ContrastRatingModal .toast-body .fail:after {
  content: "Fail";
  position: absolute;
  right: 12px;
  top: -3px;
  color: #fbfbfb;
  font-size: 15px;
  background: #C00;
  padding: 2px 5px;
  border-radius: 0.25rem;
}

#ColorAdjust_option .dropup .dropdown-toggle.ada_guidelines::after {
  display: none;
}

#ColorAdjust_option .dropdown-toggle.ada_guidelines:hover {
  text-decoration: none;
}

#ColorAdjust_option #wcagDropdown {
  opacity: 1 !important;
  position: absolute;
  top: -9rem !important;
  right: 7rem !important;
  color: white !important;
  overflow: hidden !important;
  width: 350px !important;
  background-color: #1a1a1a !important;
  height: 125px !important;
  top: -7.5rem !important;
  font-size: 14px !important;
}

#ColorAdjust_option #wcagDropdown a {
  text-decoration: underline;
  color: white;
}

#ColorAdjust_option #wcagDropdown>.tooltip_arrow {
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.4rem;
  bottom: -6px;
  left: 8.8rem;
}

#ColorAdjust_option #wcagDropdown>.tooltip_arrow::before {
  top: 0;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: #1a1a1a !important;
  position: absolute;
  content: "";
  border-color: transparent;
  border-style: solid;
}




/*************** FOR ACTIVE CLASS ***************/
#ADA_widget .modal_body .form-check ul li.active {
  background-color: #5D2D1F !important;
}

#ADA_widget .modal_body .form-check ul li.active a {
  color: white !important;
}

#ADA_widget .modal_body .form-check ul li.active a div.title:before {
  content: "\f192";
  font-family: "FontAwesome";
  position: absolute;
  right: 2px;
  top: -4px;
  color: white !important;
}

#accessibility .form-check ul li.active:before {
  display: none;
}





.form-check ul li {
  border: white solid 2px;
  transition: all .2s ease-in-out;
}

.form-check ul li:hover {
  border: #5D2D1F solid 2px !important;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.form-check a {
  transition: all .3s ease-in-out;
}

.form-check a:hover {
  color: #5D2D1F !important;
}














/* code added for the test page... not needed in the end */

.navbar {
  background-color: #457385;
  color: white;

}

.navbar i {
  font-size: 40px;
}

.navbar a {
  color: white;
}

.navbar a:hover {

  text-decoration: underline;
  transform: scale(1.3);
}



/* .modal_content .col-12:hover {
background-color: lightgray;
} */





@media screen and (min-width:768px) {
  .modal_header .main_icon_holder {
    margin-top: 12px;
  }

  #ADA_widget .modal_body ul li {
    width: 117px !important;
    height: 75px !important;
  }

  #ADA_widget .modal_body .bg_form ul li {
    width: 140px !important;
    height: 85px !important;
  }

  .title {
    font-size: 1.5rem;

  }

  #main-modal-title {
    margin-left: 50px !important;
  }

}

@media screen and (min-width:992px) {

  #main-modal-title {
    margin-left: 70px !important;
  }

}

@media screen and (min-width:1200px) {


  #ADA_widget .modal_content .ada_option_title {
    font-size: 19px;
  }

  .ada_toggleContainer .ada_content .description {
    font-size: 17px;
  }

  #ADA_widget .modal_body ul li {
    width: 108px !important;
    height: 90px !important;
  }

  #ADA_widget .modal_body .bg_form ul li {
    width: 145px !important;
    height: 90px !important;
  }


  #ADA_widget .modal_body #FontSize_option ul li,
  #ADA_widget .modal_body #Cursor_option ul li {
    width: 138px !important;
    height: 90px !important;
  }

  #ADA_widget .modal_body #FontFamily_option ul li {
    width: 105px !important;
    height: 90px !important;
  }

  #ADA_widget .modal_body ul li a div.title {
    font-size: 16px;
  }
}

@media screen and (min-width:1500px) {


  #ADA_widget .modal_content .ada_option_title {
    font-size: 21px;
  }

  .ada_toggleContainer .ada_content .description {
    font-size: 18px;
  }

  #ADA_widget .modal_body ul li {

    width: 118px !important;
    height: 90px !important;

  }

  #ADA_widget .modal_body #FontSize_option ul li,
  #ADA_widget .modal_body #Cursor_option ul li {
    width: 148px !important;
    height: 100px !important;
  }

  #ADA_widget .modal_body #FontFamily_option ul li {
    width: 115px !important;
    height: 100px !important;
  }

  #ADA_widget .modal_body .bg_form ul li {
    width: 155px !important;
    height: 100px !important;
  }



  #ADA_widget .modal_body ul li a div.title {
    font-size: 15px;
  }

}

.modal_body .col-12 {
  transition: all .3s ease-in-out;
}








@media screen and (min-width:1700px) {
  /* #ADA_widget .modal_body #BackgroundColor_option ul li {
    width: 158px !important;
    height: 100px !important;
  } */

  #ADA_reset {
    font-size: 20px !important;
  }

  .modal_header button {
    font-size: 25px;
  }

  #ADA_widget .modal_body #FontSize_option ul li,
  #ADA_widget .modal_body #Cursor_option ul li {
    width: 158px !important;
    height: 100px !important;
  }

  #ADA_widget .modal_body #FontFamily_option ul li {
    width: 115px !important;
    height: 100px !important;
  }
}


/* google translate hide extra content */
.skiptranslate table {
  display: none !important;
}

#goog-gt-tt {
  display: none !important;
}

/* .skiptranslate iframe {
display: none;
} */