.edit-text-magnify,
.edit-img-magnify {
    margin-bottom: 20px;
display: none;
justify-content: center;
align-items: center;
}

.edit-text-magnify-color,
.edit-img-magnify-color {
    margin-right: 20px;
}

.text-mag-preview-container, .img-mag-preview-container {
    margin-bottom: 1em;
}


.magnify-color-presets {
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;

    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.magnify-color-presets.active {
    transform: scale(1.2);
    /* outline: 3px solid lightblue!important; */
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.24);
}

.magnify-color-presets:hover {
    transform: scale(1.2);
}

.text-mag-row1 .magnify-color-presets:nth-of-type(1) {
    background-color: #ffffff;
    border: #363636 solid 5px;
    outline: 1px solid #363636;
}

.text-mag-row1 .magnify-color-presets:nth-of-type(2) {
    background-color: #FFF200;
    border: #083045 solid 5px;
    outline: 1px solid #083045;
}

.text-mag-row1 .magnify-color-presets:nth-of-type(3) {
    background-color: #FFFFFF;
    border: #0000E6 solid 5px;
    outline: 1px solid #0000E6;
}

.text-mag-row2 .magnify-color-presets:nth-of-type(1) {
    background-color: #363636;
    border: #ffffff solid 5px;
    outline: 1px solid black;
}

.text-mag-row2 .magnify-color-presets:nth-of-type(2) {
    background-color: #363636;
    border: #FFF200 solid 5px;
    outline: 1px solid #FFF200;
}

.text-mag-row2 .magnify-color-presets:nth-of-type(3) {
    background-color: #003300;
    border: #00FFFF solid 5px;
    outline: 1px solid #00FFFF;
}

.text-mag-preview-container, .img-mag-preview-container {

    display: none;
    justify-content: center;
    align-items: center;

}

.text-magnifier-preview,
.img-magnifier-preview {
   /* max-width: 300px; */
    background-color: #363636;
    border: white solid 1px;
    color: white;
padding: 5px 8px;
    border-radius: 5px;


}

.text-magnifier-preview p,
.img-magnifier-preview p {
    text-align: center;
    margin-bottom: 0;
}